<div id="task-card">

    <div class="task-card-section-feature top-left">


        <div id="time-task">
            <h5>8.00am - 9.00am / <span id="task-color">{{type}} <i class="fa-solid fa-scissors"></i></span></h5>
            <h5>{{client.name}}</h5>
            <br>
            <form>
                <label>
                    <h5><input type="checkbox" id="task-complete"> mark as complete</h5>
                </label>
            </form>
        </div>

    </div>
    <br>

    <div class="task-card-section-feature bottom">

        <div>

            <h6 class="feature-desc"><a href='https://www.google.com/maps/place/{{client.address}}' target="_blank" class="fa fa-map-marker" style="color:#546e7a" aria-hidden="true"></a>
                {{client.address}}</h6>

        </div>
    </div>

</div>