<div id="task-card">

    <div class="task-card-section-feature top-left-4">


        <div id="time-task">
            <h5>NOTES</h5>
        </div>

    </div>
    <br>
    <div class="task-card-section-feature bottom">

        <div id="save-note">
            <h6>
                <!-- note body -->
            </h6>
            <br>
            <br>
            <button type="submit" id="new-user" class="sign-in-form-button">SAVE</button>


        </div>
    </div>

</div>