<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">

        <a class="topbar-responsive-logo" href="#"><strong>
                <h2>Trentan Jurkans</h2>
                <h3>Monday 04 November, 2022</h3>
                <button type="submit" class="sign-in-form-button" id="add-task-button">ADD TASK</button>
                <button type="submit" class="sign-in-form-button" id="add-task-button">CREATE NEW USER</button>
            </strong></a>

    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">


                <li><a href="#">daily tasklist</a></li>
                <li><a href="#">calendar</a></li>
                <li><a href="#">employees</a></li>
                <li><a href="#">export</a></li>
                <li><a href="#"><i class="fa-solid fa-umbrella"></i></a></li>
                <li><a href="#">LOGOUT</a></li>
            </ul>
        </div>
    </div>

</nav>


<br>
<div class="card-container">

    {{{task}}}

</div>