   <header>
        <h1 class="display-4"> <i class="fa-solid fa-leaf"></i><span id="garden">Garden</span><span
                id="mate">Mate</span></h1>

    </header>
    <div class="container" id="login-form">
        <form class="form-sign-in">
            <div class="sign-in-form">
                <h4 class="text-center">user login</h4>
                <label for="sign-in-form-username">email</label>
                <input type="text" class="sign-in-form-username" id="sign-in-form-username">
                <label for="sign-in-form-password">password</label>
                <input type="password" class="sign-in-form-password" id="sign-in-form-password">
                <button type="submit" class="sign-in-form-button">SIGN IN</button>
            </div>
        </form>
    </div>
   
   <script src="./js/login.js"></script>
