<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">


        <h2><i class="fa-solid fa-leaf"></i> Welcome, {{user.name}}</h2>
        <h3>{{current_date}}</h3>
        </strong>

    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">

                <li><a href="#"><a href="./export"><i class="fa-solid fa-file-export" style="color: #60e960"></i>
                            export</a>
                </li>
                <li id="logout-link"><a href="#"><i class="fa-solid fa-right-from-bracket" style="color: #60e960"></i>
                        LOGOUT</a></li>



            </ul>
        </div>
    </div>

</nav>


<br>
<div class="card-container">



    <section class="task-card-section">
        <div class="task-card-section-outer">

            {{#each activities as |activity|}}
            {{> card}}
            {{/each}}
    </section>
</div>
<br>


<script src="./js/logout.js"></script>