<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
        <h2><i class="fa-solid fa-leaf"></i> Welcome, {{user.name}}</h2>
        <h3>{{current_date}}</h3>

    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">


                <li><a href="#">export</a></li>
                <li id="logout-link"><a href="#">LOGOUT</a></li>
            </ul>
        </div>
    </div>

</nav>


<br>
<div class="card-container">



    <section class="task-card-section">
        <div class="task-card-section-outer">

            {{#each activities as |activity|}}
            {{> card}}
            {{/each}}


            <div id="task-card">

                <div class="task-card-section-feature top-left-2">


                    <div id="time-task-2">
                        <h5>11.00am - 1.00pm / <span id="task-color"></span> Second
                            Bite <i class="fa-solid fa-truck"></i></h5>
                    </div>

                </div>
                <br>

                <div class="task-card-section-feature bottom">

                    <div>

                        <h6 class="feature-desc"><i class="fa fa-map-marker" style="color:#546e7a"
                                aria-hidden="true"></i> 76 Russell Street, Tumut</h6>
                    </div>
                </div>

            </div>
            <div id="task-card">

                <div class="task-card-section-feature top-left-4">


                    <div id="time-task">
                        <h5>NOTES</h5>
                    </div>

                </div>
                <br>

                <div class="task-card-section-feature bottom">

                    <div id="task-complete-checkbox" id="tick-icon">
                        <h6>alsdkjflksdjf asdojoiasd asdjfoju asdfujosdu sdjfoasudf asdofiuou asduoudfo asduousadf
                            asdufoasudf fuoasduf fduoasduf ufdaouf udsaofu</h6>
                        <br>

                        <h4 style="color:#546e7a">



                            <i class="fa-solid fa-check" style="color:#546e7a"></i>
                            mark as completed

                        </h4>
                        <br>
                        <h4 style="color:#546e7a">
                            <i class="fa-solid fa-trash"></i>
                            delete
                        </h4>

                    </div>
                </div>

            </div>

    </section>
</div>

<script src="./js/logout.js"></script>